.text-field-outline-default {
  padding: 10px 0;
}

.text-field-outline_wrapper {
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.text-field-outline {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;

  &_input {
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 20px 40px 20px 22px;
    border: none;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    &:focus {
      outline: none;
      border: none;
    }
  }

  &_leading {
    width: 12px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    border-left: 1px solid;
    border-right: none;
    border-bottom: 1px solid;
    border-top: 1px solid;
  }

  &_notch {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 0 0 auto;
    width: auto;
    max-width: calc(100% - 12px * 2);
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    border-top: 1px solid;
  }

  &_trailing {
    flex-grow: 1;
    border-right: 1px solid;
    border-left: none;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-radius: 0 4px 4px 0;
  }

  &_label {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #c4cdd5;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    bottom: 0;
    transition: bottom 0.2s;
  }
}


.text-field-outline_input {
  &:active,
  &:focus,
  &:valid{
    ~ .text-field-outline {
      .text-field-outline_notch {
        border-top: transparent;
        transition: border-top 0.3s;
        .text-field-outline_label {
          font-size: 18px;
          bottom: 30px;
          transition: bottom 0.2s;
        }
      }
    }
  }
}

.text-field-outline_leading,
.text-field-outline_notch,
.text-field-outline_trailing {
  border-color: #c4cdd5;
}

.text-field-outline_input__date {
  padding-right: 70px;
}

.text-field-outline_icon {
  &__date {
    color: #c4cdd5;
    position: absolute;
    right: 35px;
    bottom: 50%;
    transform: translateY(50%);
    cursor: pointer;
    z-index: 2;
    font-size: 30px;
  }
}